<mat-toolbar>
  <button [routerLink]="['/']" mat-flat-button color="accent">
    <mat-icon>home</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button [routerLink]="['second-nested-first']" mat-flat-button color="accent">
    First View
  </button>
  <button
    [routerLink]="['second-nested-second']"
    mat-flat-button
    color="primary"
  >
    Second View
  </button>
</mat-toolbar>

<div *ngIf="SpinnerIsActive">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!SpinnerIsActive">
  <div>
    {{ PageTitle }}
  </div>
  <div>
    {{ PageDescription }}
  </div>
</div>

<router-outlet (activate)="updateChildViewData()"></router-outlet>
